<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>project.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>project.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>project.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRooms</servlet-name>
        <servlet-class>project.AdminRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>project.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>project.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>project.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForm</servlet-name>
        <servlet-class>project.UpdateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRooms</servlet-name>
        <servlet-class>project.StudentRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>project.CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>project.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRoom</servlet-name>
        <servlet-class>project.BookRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>project.AdminUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRooms</servlet-name>
        <url-pattern>/AdminRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForm</servlet-name>
        <url-pattern>/UpdateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRooms</servlet-name>
        <url-pattern>/StudentRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRoom</servlet-name>
        <url-pattern>/BookRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/AdminUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
